<div class = "sellect-lesson-wrapper">

<%# ファーストボタン %>
  <div class = "btn-frame">
    <div class = "first-btn btn">
    input
    </div>
    <div class = "first-btn btn">
    output
    </div>
  </div>

<div class= "second-btnsss">
  <%# セカンドボタンインプット %>
  <div class= "secondBtns " >
      <div class = " btn-frame ">      <%# ボタン二つの枠組みようクラス %>
          <div class = "secondBtn btn ">
            input of base
          </div>                   
          <div class = "secondBtn btn ">
            input of development
          </div>
      </div>
  </div>

<%# セカンドボタンアウトプット %>
  <div class= "secondBtns " >
      <div class = "btn-frame">
        <div class = "secondBtn btn ">
          Output of base
        </div>
        <div class = "secondBtn btn ">
          Output of development
        </div>
      </div>
  </div>
</div>

<%# レッスンデフォルト表示用 %>
<div class = "defultLesson active-defult-lesson">
  <div class ="lessonsBoxform">
  defult
  </div>
</div>


  <%# インププット  基礎 %>
  <div class ="lessonsAllBox lessonsBoxform" >
    <div>INPUT → BASE</div>

             <% num = 1 %>
              <%  @lessonsBases.each do|lessons|%>
                lesson :
                <%= num%>
                <% lessons.each do|lesson|%>
                    <div><%= link_to " # #{lesson.title}","/lessons/#{lesson.id}/inputs" %></div>
                    
                    <% inputLength = lesson.inputs.where(input_or_output:1) %>
                    <%= inputLength.length%>
                <% end%>
                <% num += 1%>
              <% end %>
            </div>
          </div>
    </div>


<%# インプット  応用 %>
  <div class ="lessonsAllBox lessonsBoxform" >
    <div>INPUT → DEVELOPMENT</div>
    
<% num = 1 %>
              <% @lessonsDevs.each do|lessons|%>
                lesson :
                <%= num%>
                <% lessons.each do|lesson|%>
                <div><%= link_to " # #{lesson.title}","/lessons/#{lesson.id}/inputs" %></div>
              
                 <% inputLength = lesson.inputs.where(input_or_output:1) %>
                 <%= inputLength.length%>

                <% end%>
                <% num += 1%>
              <% end %>
            </div>
          </div>
    </div>


<%# アウトプット　基礎 %>
  <div class ="lessonsAllBox lessonsBoxform" >
    <div>OUTPUT → DEVELOPMENT
    
<% num = 1 %>
              <%  @lessonsBases.each do|lessons|%>
                lesson :
                <%= num%>
                <% lessons.each do|lesson|%>
                <div><%= link_to " # #{lesson.title}","/lessons/#{lesson.id}/inputs/1" %></div>
                <%# 行き先：input#show (アウトプット一覧を表示する) %>
              
                  <% inputLength = lesson.inputs.where(input_or_output:2) %>
                 <%= inputLength.length%>

                <% end%>
                <% num += 1%>
              <% end %>
            </div>
          </div>
    </div>


<%# アウトプット応用 %>
<div class ="lessonsAllBox lessonsBoxform" >
    <div>OUTPUT → DEVELOPMENT
    
<% num = 1 %>
              <%  @lessonsDevs.each do|lessons|%>
                lesson :
                <%= num%>
                <% lessons.each do|lesson|%>
                <div><%= link_to " # #{lesson.title}","/lessons/#{lesson.id}/inputs/1" %></div>
                 
                 <% inputLength = lesson.inputs.where(input_or_output:2) %>                 
                 <%= inputLength.length%>

                <% end%>
                <% num += 1%>
              <% end %>
            </div>
          </div>
    </div>



</div> 