<%# 新規投稿フォーム %>

<div class ="totalInputFrame">
<div class ="input_wrappar">
<div class ="newInputBox">

    <%= form_with(model: @input, :url => { :controller => :inputs, :action => :create },local: true) do |form| %>
      
      <div>
      <%= form.text_field :title, placeholder: "title" ,class: "inputForm"%>
      </div>

      <div>
      <%= form.text_area :content, placeholder: "content" , rows: "15" ,class: "inputForm"%>
      </div>

      <div>
      <%= form.text_field :image, placeholder: "image" ,class: "inputForm" %>
      </div>
      <div>
      <%= form.submit "SEND" ,class:"inputSend"%>
    <% end %>

</div>
</div>
</div>
<footer>
  <div class="account_btn footerBtnReturn homeBtn">
    <%= link_to " home","/" %>  
  </div>
  <div class="account_btn footerBtnReturn hintBtn">
    hint
  </div>
  <div class="account_btn footerBtnReturn reBtn">
    <%= link_to " return","/all_outputs" %>  
  </div>
</footer>