<%# 投稿アウトプット一覧表示用 %>

<div class ="totalInputFrame">
<div class = 'input_wrappar'>

  <% @outputs.each do |output| %>
    <div class= "input-box"> 
        <div class = "input-title">
          <%= output.title %>
        </div>

        <div class ="input_content">
          <%= simple_format output.content%>
        </div>

        <div class ="input_image">
            <%= link_to "image" "#{output.image}" %>
        </div>

        <div class ="input_name">
              slack:
            <%= output.user.slack%>
        </div>

        <% if user_signed_in? && current_user.id != output.user.id %>
        <%# 自分のoutputには教えてもらったは表示させない。 %>
          <div class = "deleteOutput">
          削除用リンク
            <%= link_to "教えてもらった", "/lessons/#{output.id}" ,method: :GET %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
</div>

<footer>
    <%# @lesson_id は showコントローラで定義している  %>
      <%= link_to "create input" ,"/lessons/#{@lesson_id}/inputs/new",class: "account_btn footerBtn" %>
      <%# 同一項目に新しいinputを作成する。 %>
</footer>

