<%# アウトプット一覧表示用 %>
<div class = 'input_wrappar'>

  <% @outputs.each do |output| %>
    <div class= "input-box"> 
        <div class = "input-title">
          <%= output.title %>
        </div>

        <div class ="input_content">
          <%= simple_format output.content%>
        </div>

        <div class ="input_image">
            <%= link_to "image" "#{output.image}" %>
        </div>

        <div class ="input_name">
              slack:
            <%= output.user.slack%>
        </div>

        <div class = "clearOutput">
        <%# クリアーアウトプットリンク %>
          <%= link_to "教えてもらった" ,"/lessons/#{output.id}/edit" %>
          <%# lesson#editに飛ぶ %>
        </div>
    </div>
  <% end %>
</div>

  <div class = 'input__footer'>
    <div class = 'input__footer__btn'>
    <%# @lesson_id は showコントローラで定義している  %>
      <%= link_to "create input" ,"/lessons/#{@lesson_id}/inputs/new" %>
      <%# 同一項目に新しいinputを作成する。 %>
    </div>
  </div>

