<%# 投稿アウトプット一覧表示用 %>
<div class="hintBox">
  <div class="hintClose">
    close
  </div>
    <div class= "hintContnet">
      <p>・アウトプット掲示板です</p>
      <p>・この掲示板の投稿は、すでに解決済の投稿です。</p>
      <p>・スラックを通じて連絡をとり、教えてもらったらthanks!!ボタンを押しましょう</p>
      <p>・遷移する画面で、教えてもらった方の名前を入力しましょう。</p>
    </div>
</div>

<div class ="totalInputFrame">
<div class = 'input_wrappar'>

  <% @outputs.each do |output| %>
    <div class= "input-box"> 
        <div class = "input-title">
          <%= output.title %>
        </div>

        <div class ="input_content">
          <%= simple_format output.content%>
        </div>

        <div class ="input_image">
          <%= link_to "image" "#{output.image}" %>
        </div>

        <% if output.user.on_off == 0%>
        <%# 投稿者が欠席なら色つかない %>
          <div class ="input_slack">
            <span> slack  :  </span>
            <%= output.user.slack%>
          </div>
          <% else%>
          <div class ="input_slack_on">
          <%# 投稿者が出席なら赤く色つく %>
            <span> slack  :  </span>
            <%= output.user.slack%>
          </div>
        <% end %>

        <% if user_signed_in? && current_user.id != output.user.id %>
        <%# 自分のoutputには【thanks】は表示させない。 %>
        <%# カレントユーザーとアウトプットユーザーが異なる時だけ通る %>
          <div class = "deleteOutput clearInputBtn">
            <%= link_to "thanks!!", "/lessons/#{output.id}" ,method: :GET %>
          </div>
        <% end %>
    </div>
  <% end %>
</div>
</div>

<footer>
  <div class="account_btn footerBtnReturn homeBtn">
    <%= link_to " home","/" %>  
  </div>
  <div class="account_btn footerBtnReturn hintBtn">
  hint
  </div>
  <div class="account_btn footerBtnReturn reBtn">
  <%= link_to " return","/all_outputs" %>  
  </div>
      <%# @lesson_id は inputs#showコントローラで定義している  %>
        <%= link_to "create input" ,"/lessons/#{@lesson_id}/inputs/new",class: "account_btn footerBtn" %>
        <%# 同一項目に新しいinputを作成する。 %>
</footer>

