<%# users#show.html
マイページ表示用 %>
<div class= "mypageWrapper">
</div>

<%# ----------------------------------------------------------- %>
<div class = "btn-frame">
    <div class = "mypage-btn  mypageInputBtn btn">
    input
    </div>
    <div class = "mypage-btn mypageOutputBtn btn">
    Output
    </div>
</div>

<%# マイページデフォルト------------------------------------------- %>
<div class = "mypageDefault">
</div>


<%#  マイページインプット------------------------------------------- %>
<div class = 'my_input_wrappar mypageInput mypageNonShow '>
  <% @myinputs.each do |myinput| %>
    <div class= "input-box"> 
        <div class = "input-title">
          <%= myinput.title %>
          
            <% if myinput.lesson.k_or_o == 1%>
            <%# 基礎の時は基礎表示 %>
              BASE
            <% else%>
            <%# それ以外は応用表示 %>
              DEVELOPMENT
            <% end%>
          lesson no :
          <%= myinput.lesson.lesson_no%>
        
        </div>
        <div class ="input_content">
          <%= simple_format myinput.content%>
        </div>
        <div class ="input_image">
            <%= link_to "image" "#{myinput.image}" %>
        </div>
        <div class ="clearInputBtn">
          <%= link_to "Clear Input",  "/lessons/#{myinput.id}" ,method: :PATCH %>
        </div>
    </div>    <%# "input-box">  %>
  <% end %>  <%# each %>
</div><%# 'input_wrappar'> %>
<footer>
</footer>

<%#  マイページアウトプット------------------------------------------- %>
<div class = 'my_input_wrappar mypageOutput mypageNonShow'>
  <% @myoutputs .each do |myoutput| %>
    <div class= "input-box"> 
        <div class = "input-title">
          <%= myoutput.title %>

            <% if myoutput.lesson.k_or_o == 1%>
              BASE
            <% else%>
              DEVELOPMENT
            <% end%>
          lesson no :
          <%= myoutput.lesson.lesson_no%>
          
        </div>
        <div class ="input_content">
          <%= simple_format myoutput.content%>
        </div>
        <div class ="input_image">
            <%= link_to "image" "#{myoutput.image}" %>
        </div>
    </div><%# "input-box">  %>
  <% end %><%# each %>
</div><%# 'input_wrappar'> %>

<footer>
</footer>

